/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug {
  font-family: 'Open Sans';
}

/* COMMON */
/* [class*="col-"] {
  display: table;
  clear: both;
  content: '';
} */

/* [class*="col-"] {
  border: 1px solid black;
} */

/* INTESTAZIONE HELBIZ */
.first-section {
  background-image: url('img/header.jpg');
}

/* logo */
.first-section .col-lg-3 img {
  height: 12px;
}

/* barra di intestazione */
.bar {
  height: 40px;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 40px;
  vertical-align: middle;
}

/* container immagine */
.container.bg-img {
  position: relative;
  max-width: 100%;
  background-image: url('../img/header.jpg');
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
}

/* elementi container immagine */

.col-lg-5 {
  position: absolute;
  color: white;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.app-store,
.google-play {
  display: inline-block;
  margin-top: 20px;
  width: 120px;
}

.icons .app-store {
  left: 150px;
}

.icons .google-play {
  right: 150px;
}



@media screen and (min-width: 1201px) {

  /* barra menu */
  .bar nav ul li {
    height: 100%;
    display: inline-block;
    float: right;
    margin-left: 15px;
  }

  .bar [class*="lang-"] {
    float: left;
    margin-left: 10px;
  }

  .bar.col-2 .lang-1,
  .bar.col-2 .lang-2 {
    border-right: 1px solid black;
  }



}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .bar {
    height: 40px;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 40px;
    vertical-align: middle;
  }


}
