/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug {
  font-family: 'Open Sans';
}

/* COMMON */
[class*="col-"] {
  height: 60px;
  border: 1px solid black;
}

/* INTESTAZIONE HELBIZ */
.first-section {
  background-image: url('img/header.jpg');
}

[class*="lang"] {
  float: right;
  margin-left: 10px;
}



/* container immagine */
.container.bg-img {
  position: relative;
  max-width: 100%;
  background-image: url('../img/header.jpg');
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;

}




@media screen and (min-width: 1201px) {
  /* logo */
  .first-section .col-lg-3 img {
    height: 20px;
  }

  /* nav bar */
  .col-lg-7 nav ul li {
    display: inline-block;
    float: left;
    margin-left: 10px;
  }

  .container.bg-img .col-lg-4 {
    position: relative;
    color: white;
    text-align: center;
  }

}

@media screen and (min-width: 769px) and (max-width: 1200px) {

}
